<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybat
is.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="medicine.online.client.backend.mapper.NewsMapper">

    <resultMap id="NewsResultMap" type="medicine.online.client.backend.model.vo.NewsVO">
        <result property="pkId" column="pk_id"/>
        <result property="title" column="title"/>
        <result property="cover" column="cover"/>
        <result property="label" column="label"/>
        <result property="browseNum" column="browse_num"/>
        <result property="starNum" column="star_num"/>
    </resultMap>

    <select id="indexPageNews" resultMap="NewsResultMap">
        SELECT tn.pk_id, tn.title, tn.cover, tn.label, tn.browse_num, tn.star_num
        FROM t_news tn
        JOIN t_index_content tic ON tn.pk_id = tic.content_id
        WHERE tn.state = 4 AND tic.type = 1 AND tic.category_id = 78
        GROUP BY tn.pk_id, tn.title, tn.cover, tn.label, tn.browse_num, tn.star_num
        ORDER BY tn.create_time DESC
        LIMIT 18
    </select>

    <select id="getNewsPage" resultMap="NewsResultMap">
        SELECT tn.pk_id, tn.title, tn.cover, tn.label, tn.browse_num, tn.star_num
        FROM t_news tn
        JOIN t_index_content tic ON tn.pk_id = tic.content_id
        WHERE tn.state = 4 AND tic.type = 1 AND tic.category_id = 78
        <if test="query.title != null and query.title != ''  ">
            AND tn.title LIKE concat('%',#{query.title},'%')
        </if>
        ORDER BY tn.create_time DESC
    </select>

    <select id="getNewsDetail" resultType="medicine.online.client.backend.model.vo.NewsVO">
        SELECT tn.*
        FROM t_news tn
        WHERE tn.pk_id = #{id} AND tn.state = 4
    </select>
</mapper>