<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="medicine.online.client.backend.mapper.PodcastMapper">

    <resultMap id="PodcastResultMap" type="medicine.online.client.backend.model.vo.PodcastVO">
        <result property="pkId" column="pk_id"/>
        <result property="title" column="title"/>
        <result property="label" column="label"/>
        <result property="browseNum" column="browse_num"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="ztPodcast" resultMap="PodcastResultMap">
        SELECT tp.pk_id, tp.title, tp.cover, tp.label, tp.browse_num, tp.update_time
        FROM t_podcast tp
        JOIN t_subject_associated tsa ON tp.pk_id = tsa.content_id
        JOIN t_subject ts ON tsa.subject_id = ts.pk_id
        WHERE tsa.type = 4 AND tp.state = 4
        AND tsa.subject_id = #{subjectId} AND tsa.delete_flag = 0
#         ORDER BY tp.pk_id DESC
        ORDER BY tp.update_time DESC
    </select>

    <select id="getPodcastByTitleLike" resultMap="PodcastResultMap">
        SELECT tp.pk_id, tp.title, tp.label, tp.browse_num, tp.star_num
        FROM t_podcast tp
        WHERE title LIKE '%${title}%'
          AND tp.state = 4
    </select>

    <select id="isPodcastPkIdExist" resultType="boolean">
        SELECT COUNT(*) > 0 AS exists_flag
        FROM t_index_content tic
        WHERE tic.content_id = #{pkId}
          AND tic.type = 3
    </select>
</mapper>