<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="medicine.online.client.backend.mapper.QuizMapper">
    <select id="getQuizList" resultType="medicine.online.client.backend.model.entity.Quiz">
        SELECT tp.* FROM t_quiz tp
        ORDER BY tp.create_time DESC
    </select>
</mapper>