<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="medicine.online.client.backend.mapper.SubjectMapper">

    <resultMap id="SubjectResultMap" type="medicine.online.client.backend.model.vo.SubjectVO">
        <result property="pkId" column="pk_id"/>
        <result property="title" column="title"/>
        <result property="cover" column="cover"/>
        <result property="label" column="label"/>
        <result property="browseNum" column="browse_num"/>
        <result property="starNum" column="star_num"/>
        <result property="brief" column="brief" />
        <result property="claim" column="claim" />
        <result property="type" column="type" />
    </resultMap>

    <select id="getSubjectList" resultMap="SubjectResultMap">
        SELECT ts.*
        FROM t_subject ts
        WHERE ts.state = 4 AND ts.type = 1
#         GROUP BY ts.pk_id, ts.title, ts.cover, ts.label, ts.browse_num, ts.star_num, ts.type
    </select>

    <select id="getSubjectList0" resultMap="SubjectResultMap">
        SELECT ts.*
        FROM t_subject ts
        WHERE ts.state = 4 AND ts.type = 0
#         GROUP BY ts.pk_id, ts.title, ts.cover, ts.label, ts.browse_num, ts.star_num, ts.type
    </select>


    <select id="getSubjectDetail" resultMap="SubjectResultMap">
        SELECT ts.*
        FROM t_subject ts
        WHERE ts.state = 4 AND ts.pk_id = #{id}
        GROUP BY ts.pk_id, ts.cover, ts.brief, ts.claim
<!--        AND ts.type = 0-->
    </select>

    <select id="getSubjectByTitleLike" resultMap="SubjectResultMap">
        SELECT ts.pk_id, ts.title, ts.cover, ts.label, ts.browse_num, ts.star_num, ts.type
        FROM t_subject ts
        WHERE title LIKE '%${title}%'
    </select>

    <select id="isSubjectPkIdExist" resultType="boolean">
        SELECT COUNT(*) > 0 AS exists_flag
        FROM t_index_content tic
                 JOIN t_subject ON tic.content_id = t_subject.pk_id
        WHERE tic.content_id = #{pkId}
          AND t_subject.type = 0
          AND tic.type = 0
    </select>

</mapper>